html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url(img/3x.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.textfield{
  border-radius: 10px; 
  background-color: rgba(0, 0, 0, .5);
  border-color: rgba(0, 0, 0, .2);
  border-style: solid;
  color: rgba(255, 255, 255, 1);
}

.textfield::placeholder{
  color:rgba(255, 255, 255, .7);
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-textfield{
  position: relative;
  width: 40vw;
  height: 5vh;
  margin-top: 7px;
  top: 10vh;
}

.login-form-buttons{
  position: relative;
  width:20vw;
  height:7vh;
  margin-top: 7px;
  top: 10vh;
}

.main-page{
  width:100vw;
  height:100vh;
}

#logo-login-image{
  position: absolute;
  width: auto;
  height: auto;
  transform: scale(2);
  bottom: 20vh;
}
