html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url(img/3x.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  backdrop-filter: blur(10px);
}

.textfield{
  border-radius: 10px; 
  background-color: rgba(0, 0, 0, .5);
  border-color: rgba(0, 0, 0, .2);
  border-style: solid;
  color: rgba(255, 255, 255, 1);
}

.textfield::placeholder{
  color:rgba(255, 255, 255, .7);
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100vw;
  height:100vh;
}

.login-form-textfield{
  position: relative;
  margin-top: 7px;
  top: 10vh;
}

.login-form-textfield-size{
  width: 40vw;
  height: 5vh;
}

.login-line-margin{
  position: relative;
  margin-top: 7px;
  width: 17vw;
  border-style: solid;
}

.login-form-line{
  display: flex;
  position: relative;
  height: 1vh;
  top: 10vh;
  left: 0vh;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.5);
}

.login-form-line .dot{
  position: relative;
  background-color: rgba(0, 0, 0, 0.5); /* Dot color */
  border-radius: 50%; /* Make it a circle */
  width: 5px; /* Size of the dot */
  height: 5px; /* Size of the dot */
  z-index: 1;
  top: 80%;
}

.login-form-buttons{
  position: relative;
  width:20.5vw;
  height:7vh;
  margin-top: 5px;
  top: 11.5vh;
}

.main-page{
  width:100vw;
  height:100vh;
}

.error{
  position: relative;
  border-radius: 10px;
  background-color: rgba(209, 0, 0, .5);
  border-color: rgba(209, 0, 0, .2);
  border-style: solid;
  color: rgba(255, 255, 255, 1);
  white-space: normal;
  width: 40vw;
}

#logo-login-image{
  position: relative;
  transform: scale(2);
  width: 20vw;
  height: auto;
  max-height: 100%;
  max-width: 24vh;
  margin-bottom: 7px;
}
